.news {
    padding-top: 100px;
}

.news .container .row .col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news .container .row .col-12 h2 {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #1A1616;
    margin-bottom: 20px;
}

.news .container .row .col-12 img {
    width: 100px;
    height: 5px;
    margin-bottom: 50px;
}

.news .container .row .news__contents .wrapper .tabs .tabs-triggers {
    display: flex;
}

.news .container .row .news__contents .wrapper .tabs .tabs-triggers .tabs-triggers__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s;
    margin-bottom: 40px;
    width: 253px;
    height: 38px;
    border: 0;
    border-radius: 40px;
    background-color: #F4F5FB;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    color: #1A1616;
    font-family: "Gilroy", sans-serif;
}

.news .container .row .news__contents .wrapper .tabs .tabs-triggers .tabs-triggers__item--active {
    background-color: #407BFF;
    color: #F4F5FB;
}

.news .container .row .news__contents .wrapper .tabs .tabs-content .tabs-content__item {
    display: none;
    margin-bottom: 100px;
}

.news .container .row .news__contents .wrapper .tabs .tabs-content .tabs-content__item--active {
    display: block;
}