/* Specification. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
}


/* Burger-menu. */

.nav-container {}

.nav-wrapper {}

.nav {
    margin: 0;
    padding: 0;
}

.nav__item {}

.nav__link {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.nav__link:hover {
    color: crimson;
}

.menu-icon {
    z-index: 19;
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 78px;
    margin-left: 20px;
    cursor: pointer;
}

.menu-icon-line {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
}

.menu-icon-line::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
    background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.mobile-nav {
    z-index: 9;
    display: block;
    position: absolute;
    left: -400px;
    top: 0;
    height: 100%;
    width: 400px;
    padding: 50px;
    background-color: rgb(163, 92, 0, 0.7);
    padding-left: 70px;
    transition: transform 0.4s;
}

.mobile-nav--active {
    transform: translateX(100%);
}

.mobile-nav__title {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #fff;
}

.mobile-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    margin-bottom: 30px;
}

.mobile-nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
}

.mobile-nav__link:hover {
    color: rgb(191, 0, 89);
    transition: 0.7s;
}


/* Header. */

.header {
    height: 100vh;
    background: url(img/back.jpg) no-repeat center top /cover;
    overflow: hidden;
}

.header__menu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.header__menu {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 30px;
}


/* Footer. */

.footer {
    height: 100px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}