/* Specification. */

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
}

/* Button. */

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}


/* Header. */

.header {
    height: 100vh;
    background: url(img/back.jpg) no-repeat center top /cover;
}

.header__menu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.header__menu {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 30px;
}

/* Second section. */

.second {
    height: 1000px;
}

/* Footer. */

.footer {
    height: 100px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
