* {
  margin: 0;
  padding: 0;
}

body h1 {
  border-bottom: 5px dashed red;
}

body {
  color: red;
  width: 930px;
  background-color: aquamarine;
}
body h1 {
  color: green;
  font-size: 80px;
}
body h1:hover {
  color: greenyellow;
  font-size: 100px;
  color: purple;
}