/* font-family: 'Dancing Script', ; */

/* Specifications. */

body {
    font-family: 'Fjalla One';
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

/* Header. */

.header {
    background: #000 url(img/sci-fi-space-74877.jpg) no-repeat center top / cover;
    color: white;
}

.nav a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding-top: 50px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.offer {
    margin-top: 230px;
}

.offer h1 {
    font-size: 70px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 320px;
    padding: 10px 0;
    margin: 0 auto;
}

.offer p {
    font-family: 'Dancing Script';
    font-size: 25px;
    text-align: center;
    padding-bottom: 200px;
}

/* Second section. */

.man {
    width: 450px;
    background: url(img/s1200.jpg) no-repeat center top / cover;
    height: 600px;
}

h3 {
    font-size: 20px;
    color: #000;
    padding-top: 100px;
}

.text p {
    color: dimgray;
    font-style: 18px;
    width: 650px;
    line-height: 1.7em;
}

.btn {
    background-color: red;
    font-style: 16px;
    width: 202px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
}

.second .container {
    display: flex;
    justify-content: space-between;
}

/* Third section. */

.third {
    background: url(img/iK0HJZ5BV.jpg) no-repeat center top / cover;
    color: #fff;
}

.heading {
    padding-top: 112px;
    text-align: center;
}

.heading p {
    font-family: 'Dancing Script';
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.heading h2 {
    font-size: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 130px;
}

.services li {
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 700px;
}

.services img {
    height: 50px;
    width: 50px;
}

.services li div {
    text-align: center;
    margin-top: 60px;
}

/* Footer. */

.footer {
    background: #000;
    color: dimgray;
    font-size: 14px;
    text-align: center;
}

.socials a img {
    width: 30px;
    height: 30px;
    margin-right: 25px;
    padding-top: 60px;
    padding-bottom: 15px;
}

.socials li:last-child img {
    margin-right: 0px;
}

.socials a img:hover {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.socials {
    display: flex;
    justify-content: center;
}

.footer-text {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

/* Media. */

@media screen and (max-width: 1200px) {
    .container {
        width: 768px;
    }

    .man {
        display: none;
    }

    .second .text p {
        width: auto;
    }

    h3 {
        padding-top: 50px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: auto;
        padding: 0 10px;
        min-width: 290px;
    }

    h1 {
        width: auto;
    }

    .services {
        flex-direction: column;
    }

    .services li {
        margin: 0 auto 30px;
    }

}

@media screen and (max-width: 680px) {
    .container {
        width: auto;
        padding: 0 10px;
        min-width: 290px;
    }

    h1 {
        width: auto;
    }
}

@media screen and (max-width: 400px) {

    .header .offer h1 {
        font-size: 35px;
        width: auto;
        text-align: center;
    }
}
