.countup {
    margin-top: 40px;
}

.countup .countup__block {
    width: 145px;
    position: relative;
    margin-left: 35px;
    height: 100px;
}

.countup .countup__block .img {
    position: absolute;
    width: 100px;
    height: 99px;
}

.countup .countup__block .counter__plus {
    position: absolute;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    color: #9BBAFF;
    top: 30px;
    left: -39px;
}

.countup .countup__block .counter {
    position: absolute;
    display: table-cell;
    font-weight: 500;
    font-size: 80px;
    line-height: 56px;
    color: #1047C5;
    top: 17px;
    left: -17px;
}

.countup .countup__block h4 {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1A1616;
    left: -36px;
    bottom: -37px;
}

.countup .countup__block p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #77839D;
    left: -36px;
    bottom: -110px;
    width: 150px;
}

.countup .block1 {
    margin-right: 40px;
}

.countup .block2 {
    margin-right: 40px;
}

.countup .block3 .counter {
    left: -37px !important;
}