/* Specification. */

body {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.container {
    width: 930px;
    margin: 0 auto;
}

h1,
h2 {
    padding: 0;
    margin: 0;
}

/* Header. */

.header {
    background: url(img/mbndmnimg.jpg) no-repeat center top / cover;
    height: 100vh;
}

.header a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}

.menu img {
    height: 80px;
    width: 110px;
}

/* Second section. */

.second {
    color: #000;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 140px;
}

.second p {
    color: dimgray;
}

/* Third section. */

.third {
    display: flex;

}

.left {
    width: 70%;
}

.left-background {
    background-image: url(img/salon.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right .icon {
    height: 100px;
    width: 100px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.right .salon222 {
    width: 100%;
    height: auto;
}

.right p {
    padding-bottom: 70px;
    text-align: center;
}

/* Forth section. */

.left2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right2 {
    width: 70%;
}

.forth .icon {
    height: 100px;
    width: 100px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.right-background {
    background-image: url(img/29.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.forth {
    display: flex;
}

.leftsalon {
    width: 100%;
    height: auto;
}

.left2 p {
    padding-bottom: 70px;
    text-align: center;
}

/* Fifth section. */

.fifth {
    display: flex;
}

.firstc {
    width: 30%;
}

.s {
    width: 100%;
    height: auto;
}

.secondc {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.secondc p {
    padding-bottom: 70px;
    text-align: center;
}

.thirthc {
    width: 30%;
}

.thirthc-background {
    background-image: url(img/iMCAX3BZ4.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.firstc-background {
    background-image: url(img/iQRYET1G2.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.secondc .icon {
    height: 100px;
    width: 100px;
    padding-bottom: 50px;
    padding-top: 30px;
}

/* Sixth section. */

.sixth {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.i a img {
    height: 40px;
    width: 40px;
    padding-bottom: 20px;
    text-decoration: none;
}

.i a {
    text-decoration: none;
}

/* Footer. */

.footer {
    height: 60px;
    background: #000;
    text-align: center;
    color: white;
    padding-top: 35px;
}
