<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/counter.css">

</head>

<body>

    <div class="countup d-flex">
        <div class="countup__block block1">
            <img src="img/bubble_first.svg" alt="bubble">
            <p class="counter__plus">+</p>
            <div class="counter" data-count="155">0</div>
            <h4>Вакансий</h4>
            <p>Которые регулярно обновляются на нашем сайте</p>
        </div>
        <div class="countup__block block2">
            <img src="img/bubble_second.svg" alt="bubble">
            <p class="counter__plus">+</p>
            <div class="counter" data-count="14">0</div>
            <h4>Конкурсов</h4>
            <p>Открытые Международные конкурсы</p>
        </div>
        <div class="countup__block block3">
            <img src="img/bubble_third.svg" alt="bubble">
            <div class="counter" data-count="120">0</div>
            <h4>Кафедр</h4>
            <p>Вы сможете найти то что вам по душе</p>
        </div>
    </div>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/counter.js"></script>

</body>

</html>