//SCSS syntax:
//Variables:
//Переменные:
$my-color: #777;
$my-font: Helvetica,
sans-serif;
body {
    color: $my-color;
    font: $my-font;
}

//Includes:
//Вложенность:
nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        .anyclass {
            display: block;
            p {
                font-size: 18px;
            }
        }
        &.anotherclass {
            display: block;
        }
    }
}

//Mixins:
//Миксины:
@mixin fontspec($fw, $fz, $lh, $col) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $col;
}

@mixin fontspecnocol($fw, $fz, $lh) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
}

@mixin btnspec($w, $h, $b, $br, $bgc) {
    width: $w;
    height: $h;
    border: $b;
    border-radius: $br;
    background-color: $bgc;
}

@mixin cardspec ($w, $h, $br, $bgc) {
    width: $w;
    height: $h;
    border-radius: $br;
    background-color: $bgc;
}

//Imports:
//Импорты:
@import "null.scss";
//Extands:
//Расширения:
%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

.message {
    @extend %message-shared;
}

.success {
    @extend %message-shared;
    border-color: green;
}

.error {
    @extend %message-shared;
    border-color: red;
}

.warning {
    @extend %message-shared;
    border-color: yellow;
}

//Math operators:
//Математические операторы:
.container {
    width: 100%;
}

article[role="main"] {
    float: left;
    width: 600px / 960px * 100%; //62.5% in css
}

aside[role="complementary"] {
    float: right;
    width: 300px / 960px * 100%; //31.25% in css
}