::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #86868600;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #79797900;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #90909000;
}

* {
  scrollbar-width: none;
}

.ant-table-body::-webkit-scrollbar {
  height: 0px;
}

.ant-modal-body::-webkit-scrollbar {
  width: 0px;
}

.ant-drawer-body::-webkit-scrollbar {
  width: 0px;
}
