<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/tabs.css">

</head>

<body>

</body>
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Новости</h2>
            </div>
            <div class="col-12 news__contents">
                <div class="wrapper">
                    <div class="tabs">
                        <div class="tabs-triggers">
                            <a href="#tab-1" class="tabs-triggers__item">Новости плрщадки</a>
                            <a href="#tab-2" class="tabs-triggers__item">Новости индустрии</a>
                        </div>
                        <div class="tabs-content">
                            <div id="tab-1" class="tabs-content__item">content1</div>
                            <div id="tab-2" class="tabs-content__item">content2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/tabs.js"></script>

</html>