<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/up.css">

</head>

<body>
    <section>
        <div class="block" style="height: 1000px;"></div>
    </section>
    <section>
        <div id="top" class="topbtn">
            <div class="topbtn__arrow">
                <img src="img/arrow-141-32.ico" alt="up_arrow">
            </div>
        </div>
    </section>
</body>

<script src="js/up.js"></script>

</html>