.accordion {}

.accordion-item {
    margin-top: 20px;
}

.accordion-item__content {
    padding: 20px;
    border: 1px solid #000;
    display: none;
}

.accordion-item__content-active {
    display: block;
}

.accordion-item__trigger {
    padding: 20px;
    border: 1px solid #000;
}