.accordeon-sec {
    padding-top: 300px;
    width: 750px;
    margin: 0 auto;
}

.accordion-item__content {
    display: none;
}

.accordion-item__content h1 {
    font-size: 32px;
    font-weight: 500;
}

.accordion-item__content p {
    font-size: 24px;
    font-weight: 300;
    color: rgb(128, 128, 128);
}

.accordion-item__content-active {
    display: block;
}

.accordion-item__trigger {
    width: 750px;
    height: 50px;
    background-color: rgb(93, 131, 255);
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.accordion-item__trigger:hover {
    background-color: rgb(60, 106, 255);
}