<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul class="cost">
        <li>
            Количество граждан и их возраст;
        </li>
        <li>
            Продолжительность тура;
        </li>
        <li>
            Величина страховой суммы;
        </li>
        <li>
            Рисковое наполнение. Сколько будет стоить расширенная страховка для выезда в Турцию зависит от количества дополнительных опций. Она обойдётся туристу дороже, но покроет гораздо большее число непредвиденных обстоятельств.
        </li>
    </ul>
</body>

</html>