// Импорт файлов (удобно при частоиспользуемых стилях)
@import "null.scss";
// Переменные
$fz:80px;
// Шаблоны
%tplborder {
    border-bottom: 5px dashed red;
}

// Миксины
@mixin fontz($f, $c) {
    font-size: $f;
    color: $c;
}

// Вложенность
body {
    color: red;
    width: 930px;
    background-color: aquamarine;
    h1 {
        color: green;
        font-size: $fz;
        &:hover {
            color: greenyellow;
            @include fontz(100px, purple)
        }
        @extend %tplborder;
    }
}