@media (min-width:1530px) {
    .pb-1:hover {
        margin-top: 20px;
    }
    .pb-2:hover {
        margin-top: 20px;
    }
    .pb-3:hover {
        margin-top: 20px;
    }
    .pb-4:hover {
        margin-top: 20px;
    }
    .pb-5:hover {
        margin-top: 20px;
    }
    .pb-6:hover {
        margin-top: 20px;
    }
    .pb-7:hover {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1720px) {
    .ep-h {
        padding: 0;
    }
    .epb-w {
        width: 1150px;
        margin: 0 auto;
    }
    .education-program__bg {
        background-size: cover;
        width: 90% !important;
        height: auto;
    }
    .program-block {
        width: calc(50% - 15px);
    }
    .tile1 {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .downside__3 {
        right: -210px;
    }
}

@media screen and (max-width: 1530px) {
    .header {
        width: 1150px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .header__buttons {
        justify-content: flex-end;
    }
    .search {
        width: 340px;
    }
    .search-btn {
        left: 305px;
        top: 26px;
    }
    .exclude-btn {
        width: 45px;
    }
    .exclude-icon {
        margin: 0 auto;
        margin-top: 5px;
    }
    .exclude-m p {
        display: none;
    }
    .navigation {
        display: none;
    }
    .slide__tourism {
        width: 1150px !important;
        padding-top: 65px;
        padding-left: 65px;
    }
    .slide__fincontest {
        width: 1150px !important;
        padding-top: 65px;
        padding-left: 65px;
    }
    .slide__third {
        width: 1150px !important;
        padding-top: 65px;
        padding-left: 65px;
    }
    .left-arrow {
        left: -597px;
    }
    .right-arrow {
        right: -597px;
    }
    .covid {
        width: 1150px;
        margin: 0 auto;
    }
    .tabs>label {
        font-size: 12px;
    }
    .tabs {
        width: 1150px;
        margin: 0 auto;
    }
    .tabs__btn1 {
        width: 44px;
        margin-right: 6px;
    }
    .tabs__btn2 {
        width: 138px;
        margin-right: 6px;
    }
    .tabs__btn3 {
        width: 95px;
        margin-right: 6px;
    }
    .tabs__btn4 {
        width: 125px;
        margin-right: 6px;
    }
    .tabs__btn5 {
        width: 185px;
        margin-right: 6px;
    }
    .tabs__btn6 {
        width: 145px;
        margin-right: 6px;
    }
    .tabs__btn7 {
        width: 165px;
        margin-right: 6px;
    }
    .tabs__btn8 {
        width: 125px;
        margin-right: 6px;
    }
    .tabs__btn9 {
        width: 80px;
    }
    .ads {
        width: 1150px;
        margin: 0 auto;
    }
    .adg-h {
        padding: 0;
    }
    .ads-wavewave {
        padding: 0;
    }
    .tabs-tabs {
        padding: 0;
    }
    .mini-1l-mg {
        margin-left: 15px;
        padding-left: 0;
    }
    .rightside::before {
        top: -7px;
        right: -105px;
    }
    .rightside-fincontest::before {
        top: 17px;
        right: -150px;
    }
    .tile1 {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .ep-h {
        padding: 0;
    }
    .epb-w {
        width: 1150px;
        margin: 0 auto;
    }
    .education-program__bg {
        background-size: cover;
        width: 90% !important;
        height: auto;
    }
    .program-block {
        width: calc(50% - 15px);
    }
    .innumbers {
        width: 1150px;
        margin: 0 auto;
    }
    .clnd-w {
        width: 1150px;
        margin: 0 auto;
    }
    .calendar__bg {
        background-size: cover;
        width: 90% !important;
        height: auto;
    }
    .calendar__slider.slick-initialized.slick-slider {
        width: 1075px;
        margin-left: 27px;
    }
    .down-buttons {
        width: 1150px;
        margin: 0 auto;
    }
    .down-buttonsb {
        margin: 19px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .footer-w {
        width: 1150px;
        position: relative;
    }
    .footer-1-a ul li {
        width: 202px !important;
    }
    .downside__3 {
        right: -210px;
    }
}

@media screen and (max-width: 1465px) {
    .header {
        width: 1150px;
        margin: 0 auto;
    }
    .search {
        width: 230px;
    }
    .search-btn {
        left: 198px;
    }
    .header__rightside {
        width: 50%;
    }
    .header__leftside {
        width: 50%;
    }
    .wrapper4header {
        display: contents;
    }
    .covid {
        width: 100%;
    }
    .flc__block-7 {
        margin-right: 150px;
    }
    .calendar__slide {
        padding-left: 28px;
        width: 416px;
        margin-right: 25px;
        margin-left: 25px;
    }
    .clnd-w {
        overflow: hidden;
    }
    .left-arrow3 {
        left: 17px;
    }
    .right-arrow3 {
        right: 13px;
    }
    .calendar__button {
        margin-bottom: 38px;
    }
    .calendar__bg {
        padding-bottom: 50px;
    }
    .footer-1-a {
        width: 31%;
    }
    .footer-2-a {
        width: 31%;
        margin-left: 28px;
    }
    .footer-3-a {
        width: 31%;
        margin-left: 24px;
    }
    .footer-4-a {
        width: 31%;
        display: contents;
    }
    .footer__btn {
        margin-top: 0;
        width: auto;
        padding-left: 20px;
        padding-right: 10px;
        margin-left: auto;
        position: absolute;
        bottom: -39px;
        right: 0;
    }
    .adress {
        width: 24%;
    }
    .call {
        width: 24%;
        position: absolute;
        bottom: 34px;
        left: 325px;
    }
    .mail {
        width: 18%;
        margin-top: 0;
        margin-bottom: 45px;
        position: absolute;
        bottom: -27px;
        left: 325px;
    }
    .copyright {
        position: absolute;
        margin-top: 130px !important;
    }
    .footer__bg {
        padding-bottom: 60px;
    }
    .search-btn-m {
        margin-top: 3px;
        position: absolute;
        margin-top: 26%;
        margin-left: -3%;
    }
    .search-m-form {
        margin-left: 25%;
    }
    .downside__3 {
        right: -115px;
    }
    .footer__icons {
        position: absolute;
        right: 0;
        bottom: 49px;
    }
}

@media screen and (max-width: 1205px) {
    .header {
        width: 768px !important;
    }
    .search {
        display: none;
    }
    .search-btn {
        left: 6px;
        border: 1px solid #F0F0F0;
        border-radius: 10px;
        width: 44px;
        height: 44px;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        top: 15px;
    }
    .slide__tourism {
        width: 768px !important;
        padding-top: 65px;
        padding-left: 65px;
    }
    .slide__fincontest {
        width: 768px !important;
        padding-top: 65px;
        padding-left: 65px;
    }
    .slide__third {
        width: 768px !important;
        padding-top: 65px;
        padding-left: 65px;
    }
    .left-arrow {
        left: -407px;
    }
    .right-arrow {
        right: -407px;
    }
    .rightside::before {
        z-index: -1;
        opacity: .3;
    }
    .rightside-fincontest::before {
        z-index: -1;
        opacity: .2;
    }
    .leftside h1 {
        width: 400px;
    }
    .leftside-fincontest h1 {
        width: 555px;
    }
    .covid {
        width: 768px;
    }
    .epb-w {
        width: 768px;
        margin: 0 auto;
    }
    .education-program__bg {
        background-size: cover;
        width: 90% !important;
        height: auto;
    }
    .program-block {
        width: calc(50% - 15px);
    }
    .program-block .pbp {
        font-size: 12px;
    }
    .program-block {
        padding: 17px;
    }
    .innumbers {
        width: 768px;
    }
    .flc__block-7 {
        margin-right: 54px;
    }
    .covid-sec {
        width: 768px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .covid-sec-w {
        padding-left: 0;
    }
    .clnd-w {
        width: 768px;
    }
    .calendar__slide {
        width: 304px;
        margin-right: 45px;
        margin-left: 45px;
    }
    .left-arrow3 {
        left: 19px;
    }
    .right-arrow3 {
        right: 1px;
    }
    .footer-w {
        width: 768px;
        margin: 0 auto;
    }
    .adress {
        width: 50%;
    }
    .call {
        width: 30%;
        position: absolute;
        bottom: -40px;
        left: 0px;
    }
    .mail {
        width: 18%;
        margin-top: 0;
        margin-bottom: 45px;
        position: absolute;
        bottom: -102px;
        left: 0;
    }
    .copyright {
        position: absolute;
        margin-top: 160px !important;
        width: 130%;
    }
    .footer__bg {
        padding-bottom: 130px;
    }
    .footer__btn {
        bottom: -108px;
    }
    .education-program {
        width: 768px;
        margin: 0 auto;
    }
    .program-block {
        margin: 0 auto;
        width: 51%;
        margin-left: 19%;
        margin-top: 34px;
    }
    .education-program__bg {
        width: 100% !important;
    }
    .program-block {
        width: calc(100% - 40px);
        margin-left: 0%;
        margin-top: 25px;
        margin-left: 20px;
    }
    .downtileblock {
        flex-wrap: wrap;
    }
    .program-block {
        padding: 35px;
    }
    .downside__3 {
        right: -360px;
    }
    .program-block .pbp {
        font-size: 16px;
    }
    .clnd-w {
        width: 768px !important;
        margin: 0 auto;
    }
    .down-buttons {
        width: 100%;
        margin: 0 auto;
    }
    .footer__icons {
        position: absolute;
        right: 0;
        bottom: -15px;
    }
    .ft-mg {
        margin-left: 11px;
    }
}

@media screen and (max-width: 995px) {
    .covid-sec {
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .covid-sec-cont {
        margin: 0;
        width: 768px !important;
    }
    .downside__3 {
        right: -311px;
    }
    .down-buttons {
        width: 768px;
        margin: 0 auto;
    }
    .down-buttons-w {
        margin-right: 0;
    }
    .footer-1-a {
        width: 50%;
    }
    .footer-2-a {
        width: 50%;
        margin-left: 0;
    }
    .footer-3-a {
        width: 50%;
        margin-left: 0;
    }
    .footer-4-a {
        width: 50%;
    }
    .call {
        bottom: 233px;
        left: 360px;
    }
    .mail {
        bottom: 142px;
        left: 360px;
    }
    .copyright {
        margin-top: 315px !important;
    }
    .down-buttonsb {
        margin: 0px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .footer__icons {
        position: absolute;
        right: 43px;
        bottom: 86px;
    }
    .call {
        bottom: 193px;
        left: 360px;
    }
    .mail {
        bottom: 121px;
        left: 363px;
    }
    .footer__btn {
        margin-top: 0;
        width: auto;
        padding-left: 20px;
        padding-right: 10px;
        margin-left: auto;
        position: absolute;
        bottom: -39px;
        right: 43px;
        bottom: -6px;
    }
}

@media screen and (max-width: 835px) {
    .leftside p {
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: #626E79;
        margin-bottom: 50px;
        width: 300px;
    }
    .leftside h1 {
        font-weight: 900;
        font-size: 38px;
        line-height: 54px;
        color: #2E374B;
    }
    .slide__third {
        width: 425px !important;
        padding-top: 35px;
        padding-left: 35px;
    }
    .slide__tourism {
        width: 425px !important;
        padding-top: 35px;
        padding-left: 35px;
    }
    .slide__fincontest {
        width: 425px !important;
        padding-top: 35px;
        padding-left: 35px;
    }
    .leftside-fincontest p {
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: #626E79;
        margin-bottom: 50px;
        width: 305px;
    }
    .covid {
        width: 425px;
        flex-wrap: wrap;
        height: 180px;
    }
    .covid__leftside {
        margin-left: 83px;
        flex-wrap: wrap;
    }
    .covid-sec-cont {
        max-width: 425px;
    }
    .covid-sec {
        width: 425px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .education-program {
        width: 425px;
        margin: 0 auto;
    }
    .ep-h {
        padding-left: 35px;
    }
    .education-program__bg h3 {
        font-size: 36px;
    }
    .tile1 {
        width: 425px;
    }
    .downside__3 {
        right: -30px;
    }
    .downtileblock {
        width: 425px;
    }
    .education-program__bg {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: 70px;
    }
    .covid p {
        display: none;
    }
    .covid__leftside {
        margin: 0;
    }
    .ca {
        margin-top: 48px;
        text-align: center;
    }
    .ca-2 {
        margin: 0 auto;
    }
    .right-arrow {
        right: -235px;
    }
    .left-arrow {
        left: -235px;
    }
    .leftside-fincontest h1 {
        font-size: 31px;
        width: 380px;
    }
    .db-wrap {
        flex-wrap: wrap;
    }
    .down-buttons {
        width: 425px;
        margin: 0 auto;
    }
    .db-4 {
        margin-bottom: 60px !important;
    }
    .down-buttonsb {
        margin-top: 60px !important;
        margin-bottom: 0;
    }
    .calendar {
        width: 425px !important;
        overflow: hidden;
        margin: 0 auto;
    }
    .clnd-w {
        width: 425px !important;
        margin: 0 auto;
    }
    .clnd-up-wrap {
        flex-wrap: wrap;
    }
    .calendar__bg {
        padding-top: 50px;
    }
    .left-arrow3 {
        left: 17px;
    }
    .right-arrow3 {
        right: 63px;
    }
    .content-p {
        font-size: 14px;
    }
    .calendar__slide {
        padding-left: 40px;
    }
    .clnd-btn {
        padding: 0;
        margin: 0;
        width: 380px;
    }
    .down-buttonsb {
        width: 100%;
    }
    .epb-w {
        width: 425px;
        margin: 0 auto;
    }
    .header {
        width: 425px !important;
        flex-wrap: wrap;
    }
    .header__leftside {
        width: 100%;
    }
    .header__rightside {
        width: 100%;
    }
    .search-btn {
        margin-left: 131px;
    }
    .innumbers {
        width: 425px;
    }
    .counter {
        font-size: 32px;
    }
    .first-line-count__block p {
        margin-top: 15px;
    }
    .second-line-count__block p {
        margin-top: 15px;
    }
    .cnt-6-p {
        margin-top: 15px;
    }
    .innumbers img {
        margin-bottom: 0;
    }
    .flc__block-3 {
        margin-left: 5px;
    }
    .flc__block-6 {
        margin-left: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #626E79;
    }
    .flc__block-4 img {
        margin-bottom: 14px !important;
    }
    .flc__block-2 {
        margin-left: 5px;
    }
    .flc__block-5 {
        margin-left: 5px;
    }
    .flc__block-7 {
        margin-right: 135px;
    }
}