@import 'stylesheet.css';
@import "null.scss";
@import "bootstrap/bootstrap.scss";
@import 'slick/slick.scss';
// Mixins
@mixin fontspec($fw, $fz, $lh, $col) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $col;
}

@mixin fontspecnocol($fw, $fz, $lh) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
}

@mixin btnspec($w, $h, $b, $br, $bgc) {
    width: $w;
    height: $h;
    border: $b;
    border-radius: $br;
    background-color: $bgc;
}

@mixin cardspec ($w, $h, $br, $bgc) {
    width: $w;
    height: $h;
    border-radius: $br;
    background-color: $bgc;
}

// Variables
// Colors
$maincolor: #407BFF;
$hover: #1047C5;
$administration: #039BE5;
$postdoc: #5E35B1;
$medicine: #FD693A;
$science: #47C34C;
$teachers: #D81B60;
// Fonts
$mainfont: 'Montserrat',
sans-serif;
$gilroy: 'Gilroy',
sans-serif;

/*START*/

.col-12 {
    padding: 0;
}

.col-4 {
    padding: 0;
}

body {
    font-family: $mainfont;
}

// ColorChange
.administration {
    color: $administration;
}

.postdoc {
    color: $postdoc;
}

.medicine {
    color: $medicine;
}

.science {
    color: $science;
}

.teachers {
    color: $teachers;
}

@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1200px;
    }
}


/*AlertSection*/

.alert-new {
    width: 100%;
    height: 50px;
    background-color: #407BFF;
    display: none;
}

.active {
    display: block;
}

.alert__content {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    >p {
        @include fontspec(600, 16px, 20px, #fff);
        padding-top: 12px;
        font-family: $gilroy;
    }
    button {
        background-color: transparent !important;
        border: 1px solid #FFF !important;
        border-radius: 29px !important;
        width: 121px !important;
        height: 35px !important;
        position: relative !important;
        p {
            margin: 0;
            position: absolute;
            left: 15px;
            top: 7px;
            @include fontspec(normal, 16px, 19px, #fff);
            font-family: $gilroy;
        }
    }
    .close {
        position: absolute;
        right: 7px;
        top: 9px;
        width: 32px;
        height: 32px;
        opacity: 1;
        &:hover {
            opacity: 1 !important;
        }
    }
    .close:before,
    .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: #fff;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }
}


/* Header */

.header {
    margin-top: 21px;
    margin-bottom: 22px;
    .container {
        .row {
            .col-12 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .header__leftside {
                    .logo {
                        & img {}
                    }
                }
                .header__rightside {
                    display: flex;
                    height: 21px;
                    align-items: center;
                    .menu {
                        height: 21px;
                        nav {
                            ul {
                                display: flex;
                                li {
                                    margin-right: 30px;
                                    a {
                                        @include fontspec(500, 16px, 19px, #1A1616);
                                        font-family: $gilroy;
                                        &:hover {
                                            text-decoration: underline;
                                            color: $hover
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .langswitch {
                        @include btnspec(72px, 39px, 1px solid #C0D3FD, 29px, transparent);
                        @include fontspec(500, 16px, 19px, $maincolor);
                        font-family: $gilroy;
                        &:hover {
                            background-color: #F4F5FB;
                        }
                    }
                    .authorization {
                        @include btnspec(138px, 39px, 0px, 29px, $maincolor);
                        @include fontspec(500, 16px, 19px, #fff);
                        font-family: $gilroy;
                        margin-left: 30px;
                        transition: 0.7s;
                        &:hover {
                            background-color: $hover;
                        }
                    }
                }
            }
        }
    }
}


/* Slider */

.slider {
    overflow-x: hidden;
    margin-bottom: 140px;
    background-color: #5C94FF;
    position: relative;
    .container {
        .row {
            .col-12 {
                .slider__arrows {}
                .arrows {
                    position: absolute;
                    z-index: 10;
                    top: 50%;
                    right: 26px;
                    .arrows__up {
                        width: 16px;
                        height: 16px;
                        border-top: 2px solid #fff;
                        border-right: 2px solid #fff;
                        margin-right: 60px;
                        transform: rotate(-45deg);
                        margin: 0;
                        position: absolute;
                        top: -27px;
                        cursor: pointer;
                    }
                    .arrows__down {
                        width: 16px;
                        height: 16px;
                        border-top: 2px solid #fff;
                        border-right: 2px solid #fff;
                        margin-right: 60px;
                        transform: rotate(135deg);
                        margin: 0;
                        position: absolute;
                        bottom: -137px;
                        cursor: pointer;
                    }
                }
                .slider__dots {}
                .dots {
                    position: absolute;
                    z-index: 10;
                    top: 50%;
                    right: 0;
                }
                .slides {
                    .slides__slide {
                        .slider__leftside {
                            width: 509px;
                            p {
                                @include fontspec(normal, 18px, 60px, #fff);
                                margin-top: 140px;
                                font-family: $gilroy;
                            }
                            h1 {
                                @include fontspec(900, 60px, 60px, #fff);
                                margin-bottom: 50px;
                                text-shadow: 0px 4px 50px rgba(13, 45, 117, 0.2);
                                font-family: $gilroy;
                            }
                            button {
                                @include btnspec(216px, 58px, 0px, 40px, #fff);
                                @include fontspec(600, 16px, 22px, #407BFF);
                                margin-bottom: 190px;
                            }
                        }
                    }
                    .slide1 {
                        background: url("../img/doctors.png") 82% 90%/580px 600px no-repeat;
                        position: relative;
                        .pills {
                            position: absolute;
                            top: 200px;
                            left: 469px;
                            z-index: 1;
                        }
                        .pill {
                            position: absolute;
                            top: 350px;
                            right: 53px;
                            z-index: -1;
                            width: 108px;
                            height: 100px;
                        }
                    }
                    .slide2 {}
                    .slide3 {}
                }
            }
        }
    }
}

.slider::after {
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 125px solid #fff;
    border-left: 1920px solid transparent;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.slick-dots li button {
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
    @include btnspec(36px,
    36px,
    0,
    30px,
    transparent);
    @include fontspec(500,
    14px,
    20px,
    #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.slick-active {
    color: $hover;
    button {
        color: $hover !important;
    }
}

.slick-dots li button::before {
    content: "0";
}

.slick-dots li:nth-child(n+10) button::before {
    content: none;
}


/* About */

.about {
    margin-bottom: 100px;
    .container {
        .row {
            .col-12 {
                .countup {
                    margin-top: 40px;
                    .countup__block {
                        width: 145px;
                        position: relative;
                        margin-left: 35px;
                        height: 100px;
                        .img {
                            position: absolute;
                            width: 100px;
                            height: 99px;
                        }
                        .counter__plus {
                            position: absolute;
                            @include fontspec(500,
                            40px,
                            56px,
                            #9BBAFF);
                            top: 30px;
                            left: -39px;
                        }
                        .counter {
                            position: absolute;
                            display: table-cell;
                            @include fontspec(500,
                            80px,
                            56px,
                            #1047C5);
                            font-family: $gilroy;
                            top: 17px;
                            left: -17px;
                        }
                        h4 {
                            position: absolute;
                            @include fontspec(500,
                            16px,
                            140%,
                            #1A1616);
                            left: -36px;
                            bottom: -37px;
                        }
                        p {
                            position: absolute;
                            @include fontspec(400,
                            14px,
                            140%,
                            #77839D);
                            left: -36px;
                            bottom: -110px;
                            width: 150px;
                        }
                    }
                    .block1 {
                        margin-right: 40px;
                    }
                    .block2 {
                        margin-right: 40px;
                    }
                    .block3 {
                        .counter {
                            left: -37px !important;
                        }
                    }
                }
                .about__platform {
                    width: 430px;
                    h2 {
                        @include fontspec(bold,
                        25px,
                        60px,
                        #1A1616);
                        font-family: $gilroy;
                    }
                    img {
                        margin-bottom: 20px;
                    }
                    p {
                        @include fontspec(400,
                        16px,
                        24px,
                        #1A1616)
                    }
                }
            }
        }
    }
}


/* WhoWeNeed */

.whoweneed {
    background-color: #f4f5fb;
    .container {
        .row {
            .col-12 {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    font-family: $gilroy;
                    @include fontspec(700,
                    50px,
                    60px,
                    #1A1616);
                    margin-bottom: 20px;
                    margin-top: 100px;
                }
                img {
                    width: 100px;
                    height: 5px;
                    margin-bottom: 50px;
                }
            }
            .who__contents {
                .who__wrapper {
                    .who__tabs {
                        .who__tabs-triggers {
                            display: flex;
                            width: 1200px;
                            justify-content: space-between;
                            .whotabs-triggers__item {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                transition: 0.5s;
                                margin-bottom: 40px;
                                @include btnspec(auto,
                                38px,
                                0,
                                40px,
                                #fff);
                                @include fontspec(500,
                                13px,
                                140%,
                                #1A1616);
                                font-family: $gilroy;
                            }
                            .item1 {
                                width: 63px;
                            }
                            .item2 {
                                width: 345px;
                            }
                            .item3 {
                                width: 164px;
                            }
                            .item4 {
                                width: 93px;
                            }
                            .item5 {
                                width: 193px;
                            }
                            .item6 {
                                width: 309px;
                            }
                            .whotabs-triggers__item--active {
                                background-color: #407BFF;
                                color: #F4F5FB;
                            }
                        }
                        .who__tabs-content {
                            .whotabs-content__item {
                                display: none;
                                .who-wrap {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    .who__block {
                                        padding: 20px;
                                        @include cardspec(372px,
                                        190px,
                                        10px,
                                        #fff);
                                        margin-bottom: 40px;
                                        .who__category {
                                            @include fontspecnocol(500,
                                            12px,
                                            17px);
                                        }
                                        .who__maintext {
                                            @include fontspec(500,
                                            14px,
                                            20px,
                                            #000);
                                        }
                                        .who__schedule {
                                            @include fontspec(500,
                                            12px,
                                            17px,
                                            #1047C5);
                                            margin-top: 35px;
                                        }
                                        .who__date {
                                            @include fontspec(500,
                                            12px,
                                            17px,
                                            #77839D);
                                        }
                                    }
                                }
                                button {
                                    @include btnspec(308px,
                                    58px,
                                    0,
                                    40px,
                                    #407BFF);
                                    @include fontspec(600,
                                    16px,
                                    140%,
                                    #fff);
                                    margin: 0 auto;
                                    margin-top: 40px;
                                    margin-bottom: 100px;
                                }
                            }
                            .whotabs-content__item--active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* News */

.news {
    padding-top: 100px;
    .container {
        .row {
            .col-12 {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    font-family: $gilroy;
                    @include fontspec(700,
                    50px,
                    60px,
                    #1A1616);
                    margin-bottom: 20px;
                }
                img {
                    width: 100px;
                    height: 5px;
                    margin-bottom: 50px;
                }
            }
            .news__contents {
                .wrapper {
                    width: 1200px;
                    .tabs {
                        .tabs-triggers {
                            display: flex;
                            justify-content: center;
                            .tabs-triggers__item {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                margin-left: 5px;
                                margin-right: 5px;
                                transition: 0.5s;
                                margin-bottom: 40px;
                                @include btnspec(253px,
                                38px,
                                0,
                                40px,
                                #F4F5FB);
                                @include fontspec(500,
                                13px,
                                140%,
                                #1A1616);
                                font-family: $gilroy;
                            }
                            .tabs-triggers__item--active {
                                background-color: #407BFF;
                                color: #F4F5FB;
                            }
                        }
                        .tabs-content {
                            .tabs-content__item {
                                display: none;
                                margin-bottom: 60px;
                                width: 1200px;
                                .news-wrap {
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    .bignew {
                                        position: relative;
                                        .d-block::after {
                                            content: '';
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            background: linear-gradient(360deg, #1D2E52 0%, rgba(0, 0, 0, 0) 109.06%);
                                            width: 578px;
                                            height: 287px;
                                            border-radius: 10px;
                                        }
                                        .bignew__image {
                                            width: 578px;
                                            height: 287px;
                                            display: inline-block;
                                            position: relative;
                                            line-height: 0;
                                            border-radius: 10px;
                                            margin: 0;
                                            margin-bottom: 40px;
                                        }
                                        .bignew__date {
                                            position: absolute;
                                            top: 200px;
                                            left: 20px;
                                            z-index: 2;
                                            @include fontspec(500,
                                            12px,
                                            140%,
                                            #fff);
                                        }
                                        .bignew__maintext {
                                            position: absolute;
                                            top: 225px;
                                            left: 20px;
                                            z-index: 2;
                                            @include fontspec(500,
                                            14px,
                                            140%,
                                            #fff);
                                        }
                                    }
                                    .mininew {
                                        position: relative;
                                        border-radius: 10px;
                                        width: 269px;
                                        height: 287px;
                                        background: #FFFFFF;
                                        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
                                        margin-bottom: 40px;
                                        img {
                                            position: absolute;
                                            width: 269px;
                                            height: 135px;
                                        }
                                        .mininew__date {
                                            position: absolute;
                                            @include fontspec(500,
                                            12px,
                                            17px,
                                            #1047C5);
                                            top: 158px;
                                            left: 20px;
                                        }
                                        .mininew__maintext {
                                            position: absolute;
                                            @include fontspec(500,
                                            14px,
                                            20px,
                                            #191B26);
                                            top: 180px;
                                            left: 20px;
                                            width: 240px;
                                        }
                                    }
                                }
                            }
                            .tabs-content__item--active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Who page 
.whotop {
    background-color: #5C94FF;
    position: relative;
    overflow: hidden;
    .container {
        .row {
            .col-12 {
                .whotop__navigate {
                    margin-top: 50px;
                    margin-bottom: 30px;
                    .breadcrumb {
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        .breadcrumb-item {
                            a {
                                color: rgba(255, 255, 255, 0.6);
                                @include fontspecnocol(normal,
                                18px,
                                60px);
                                font-family: $gilroy;
                            }
                        }
                        .breadcrumb-item.active {
                            color: #fff;
                            @include fontspecnocol(normal,
                            18px,
                            60px);
                            font-family: $gilroy;
                        }
                    }
                }
                h1 {
                    @include fontspec(900,
                    60px,
                    60px,
                    #fff);
                    text-shadow: 0px 4px 50px rgba(13, 45, 117, 0.2);
                    margin-bottom: 160px;
                }
            }
        }
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, 0.6);
    font-family: $gilroy;
}

.whotop::after {
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 125px solid #F4F5FB;
    border-left: 1920px solid transparent;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

// Footer
.footer {
    background-color: #F4F5FB;
    padding-top: 52px;
    .container {
        .row {
            .col-12 {
                justify-content: space-between;
                .mail {}
                .call {}
                .adress {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .footer__upside {
                    img {
                        width: 24px;
                        height: 24px;
                    }
                    a {
                        text-decoration: underline;
                        @include fontspec(500,
                        18px,
                        22px,
                        #407BFF);
                        font-family: $gilroy;
                        margin-left: 11px;
                        margin-bottom: 11px;
                    }
                    h6 {
                        @include fontspec(500,
                        18px,
                        22px,
                        #1A1616);
                        font-family: $gilroy;
                        margin-left: 11px;
                    }
                }
                p {
                    @include fontspec(500,
                    14px,
                    17px,
                    #77839D);
                    font-family: $gilroy;
                    margin-left: 35px;
                }
            }
            .social {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    &:first-child img {
                        width: 20px;
                        height: 20px;
                    }
                    &:last-child img {
                        width: 22px;
                        height: 16px;
                    }
                    img {
                        width: 20px;
                        height: 20px;
                        margin-top: 25px;
                        margin-bottom: 40px;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}