    /*NullStyle*/
    
    @import "null.scss";
    /*BootstrapLink*/
    
    @import "bootstrap/bootstrap.scss";
    // Mixins
    @mixin fontspec($fw, $fz, $lh, $col) {
        font-weight: $fw;
        font-size: $fz;
        line-height: $lh;
        color: $col;
    }
    
    @mixin btnspec($w, $h, $b, $br, $bgc) {
        width: $w;
        height: $h;
        border: $b;
        border-radius: $br;
        background-color: $bgc;
    }
    
    // Variables
    $maincolor: #407BFF;
    $hover: #1047C5;
    /*START*/
    
    .col-12 {
        padding: 0;
    }
    /*AlertSection*/
    
    .alert-new {
        width: 100%;
        height: 50px;
        background-color: #407BFF;
        display: none;
    }
    
    .active {
        display: block;
    }
    
    .alert__content {
        max-width: 1140px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        >p {
            @include fontspec(600, 16px, 20px, #fff);
            padding-top: 12px;
        }
        button {
            background-color: transparent;
            border: 1px solid #FFF;
            border-radius: 29px;
            width: 121px;
            height: 35px;
            position: relative;
            p {
                margin: 0;
                position: absolute;
                left: 15px;
                top: 7px;
                @include fontspec(normal, 16px, 19px, #fff);
            }
        }
        .close {
            position: absolute;
            right: 7px;
            top: 10px;
            width: 32px;
            height: 32px;
            opacity: 1;
            &:hover {
                opacity: 1 !important;
            }
        }
        .close:before,
        .close:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 16px;
            width: 2px;
            background-color: #fff;
        }
        .close:before {
            transform: rotate(45deg);
        }
        .close:after {
            transform: rotate(-45deg);
        }
    }
    /* Header */
    
    .header {
        margin-top: 21px;
        .container {
            .row {
                .col-12 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .header__leftside {
                        .logo {
                            & img {}
                        }
                    }
                    .header__rightside {
                        display: flex;
                        height: 21px;
                        align-items: center;
                        .menu {
                            height: 21px;
                            nav {
                                ul {
                                    display: flex;
                                    li {
                                        margin-right: 30px;
                                        a {
                                            @include fontspec(500, 16px, 19px, #1A1616);
                                            &:hover {
                                                text-decoration: underline;
                                                color: $hover
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .langswitch {
                            @include btnspec(72px, 39px, 1px solid #C0D3FD, 29px, transparent);
                            @include fontspec(500, 16px, 19px, $maincolor);
                            p {
                                margin: 0;
                            }
                        }
                        .authorization {
                            @include btnspec(138px, 39px, 0px, 29px, $maincolor);
                            @include fontspec(500, 16px, 19px, #fff);
                            margin-left: 30px;
                            transition: 0.7s;
                            p {
                                margin: 0;
                            }
                            &:hover {
                                background-color: $hover;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Slider */
    
    .slider {
        margin-bottom: 140px;
        .container {
            .row {
                .col-12 {}
            }
        }
    }
    /* About */
    
    .about {
        .container {
            .row {
                .col-12 {
                    .countup {
                        margin-top: 40px;
                        .countup__block {
                            width: 145px;
                            position: relative;
                            margin-left: 35px;
                            height: 100px;
                            .img {
                                position: absolute;
                                width: 100px;
                                height: 99px;
                            }
                            .counter__plus {
                                position: absolute;
                                @include fontspec(500, 40px, 56px, #9BBAFF);
                                top: 30px;
                                left: -39px;
                            }
                            .counter {
                                position: absolute;
                                display: table-cell;
                                @include fontspec(500, 80px, 56px, #1047C5);
                                top: 17px;
                                left: -17px;
                            }
                            h4 {
                                position: absolute;
                                @include fontspec(500, 16px, 140%, #1A1616);
                                left: -36px;
                                bottom: -37px;
                            }
                            p {
                                position: absolute;
                                @include fontspec(400, 14px, 140%, #77839D);
                                left: -36px;
                                bottom: -110px;
                                width: 150px;
                            }
                        }
                        .block1 {
                            margin-right: 40px;
                        }
                        .block2 {
                            margin-right: 40px;
                        }
                        .block3 {
                            .counter {
                                left: -37px !important;
                            }
                        }
                    }
                }
                .about__platform {
                    width: 430px;
                    h2 {
                        @include fontspec(bold, 25px, 60px, #1A1616);
                    }
                    img {
                        margin-bottom: 20px;
                    }
                    p {
                        @include fontspec(400, 16px, 24px, #1A1616)
                    }
                }
            }
        }
    }